@font-face {
   font-family: 'Poppins';
   src: local('Poppins'), url(./../fonts/Poppins-Regular.ttf) format('truetype');
 }

.list-group{
   width: 500px;
   display: inline-block;
}
.list-group-item {
   border-color: black;
   border-width: 5px;
   color: black;
   font-family: Poppins;
   font-size: regular;
}
.list-group-item.list-group-item-action{
   border-bottom: 2px solid hsla(210, 7%, 6%, 0.438);
   background-color: #e2e1e154;
}
.chatbot{
   background-color: #ffffff;
   display: inline-block; 
    width: 1500px;
} 

.react-chatbot-kit-chat-container {
   float: right;
   left: 10px;
  width: 1400px;
  background-color: #ffffff;
  /* height:100vh; */
}
.App-header {
   height:100vh;
   background-color: #ffffff;
   /* min-height: 100vh; */
   /* display: flex; */
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}
.react-chatbot-kit-chat-inner-container {
   /* height: 100vh; */
   background-color: #fff;
   border-radius: 3px;
   border-radius: 5px; 
   resize: both;
}
 .react-chatbot-kit-chat-header {
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
   background-color: #efefef;
   font-family: Arial;
   display: flex;
   text-align: center;
   align-items: center;
   font-size: 1.2rem;
   color: #514f4f;
   padding: 12.5px;
   font-family: Poppins;
   font-weight: bold;
} 
.react-chatbot-kit-chat-input {
   width: 100%;
   padding: 12.5px;
   border: none;
   font-family: Poppins;
   font-size: 1rem;
   border-top: 1px solid #d8d8d8;
   border-bottom-left-radius: 5px;
}
 .react-chatbot-kit-chat-bot-message {
   background-color: #004266;
   padding: 10px;
   border-radius: 5px;
   font-family: Poppins;
   font-size: 1rem;
   color: #fff;
   font-weight: medium;
   position: relative;
   width: auto;
   margin-left: 10px;
   text-align: left;
}
