
.card-fix {
    justify-content: center;
    height: 200px;
}
.py-5 {
    justify-content: center;
    width: 2000;
}
.profile {
    text-align: center;
}
.mb-4 card mb-4 mb-lg-0 {
    height: 200px;
}
.row_graph {
    justify-content: center;
    border-radius: 15px;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

h1{
    text-align: center;
    font-size: 42px;
}