h1 {
    color: #004266;
    font-family: Poppins;
    font-size: 30px;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 1px;
    text-align: left;
    }
body {
    font-family: Poppins;
}

.fa-user-group{
    align-items: right;
    padding-top: 15px;
    padding-right: 10px;
    /* padding-left: 1100px; */
    color: white;

}

h2{
    /* padding-left: 1100px; */
    padding-top: 12px;
    /* font-family:Georgia, 'Times New Roman', Times, serif; */
    color: white; 
    float: right;
}


.brand{
    padding-left: 1000px;
}